{% extends 'base.twig' %}

{% block main_block %}
    {% for article in articles %}
        <div class="blog-article">
            <h1 class="blog-article-title"><a href="{{article.link}}">{{article.title|title}}</a></h1>
            <div class="blog-article-meta">{{article.getDate}}</div>
            <div class="blog-article-contents">
                {% autoescape false %}
                    {{article.striptags(200)}}
                {% endautoescape %}
                <br><a href="{{article.link}}">read</a>
           </div>
       </div>
    {% endfor %}
    <ul class = "pager">
        {% if not prev_page is empty %}
        <li class = "prev_link"><a href = "{{prev_page}}">&larr; Prev</a></li>
        {% endif %}
        {% if not next_page is empty %}
            <li class = "next_link"><a href = "{{next_page}}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}
