<article style="background: {{maker.color('main')}};">
    <span class="article-date">{{article.getDate(maker.theme('date-format'))}}</span>
    <h1 class="article-title"><a href="{{article.link}}">{{article.title}}</a></h1>
    {% if article.tags|length > 0 %}
        <ul class="article-tags">
            {% for tag in article.tags %}
                <li><a href="/tag/{{tag}}/1">{{tag}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="article-contents">
        {% autoescape false %}
            {{article.html}}
        {% endautoescape %}
    </div>
    <div class="article-share">
        {% set share_list = maker.config('share') %}
        {% if 'twitter' in share_list %}
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {% endif %}
    </div>

    {% if (not newer_article_link is empty) or (not older_article_link is empty) %}
        <div class="pager">
            {% if not newer_article_link is empty %}
                <div id="pager-next">
                    <div class="lines"><span>next article</span></div>
                    <a href="{{newer_article_link}}">{{maker.getNewerArticle(article,1)[0].title}}</a>
                </div>
            {% endif %}
            {% if not older_article_link is empty %}
                <div id="pager-prev">
                    <div class="lines"><span>previous article</span></div>
                    <a href="{{older_article_link}}">{{maker.getOlderArticle(article,1)[0].title}}</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</article>
