{% extends 'base/main.twig' %}

{% block main_block %}
    {% for article in articles %}
        <div class="blog-article" style="background-color: {{maker.color('article')}};">
            <h1 class="blog-article-title"><a href="{{article.link}}">{{article.title}}</a></h1>
            <div class="blog-article-meta">{{article.getDate}}</div>
            <div class="blog-article-contents">
                {% autoescape false %}
                    {{article.html}}
                {% endautoescape %}
           </div>
           {% if article.tags | length > 0 %}
               <ul class="blog-article-tags">
                   Tag:
                   {% for tag in article.tags %}
                       <li><a href="/tag/{{tag}}/1">{{tag}}</a></li>
                   {% endfor %}
               </ul>
           {% endif %}
       </div>
    {% endfor %}
    <ul class = "pager">
        {% if not prev_page is empty %}
        <li class = "prev_link"><a href = "{{prev_page}}">&larr; Prev</a></li>
        {% endif %}
        {% if not next_page is empty %}
            <li class = "next_link"><a href = "{{next_page}}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}
