{% extends "base/main.twig" %}

{% block main_block %}
    <div class="blog-article" style="background-color: {{maker.color('article')}};">
        <h1 class="blog-article-title"><a href="{{article.link}}">{{article.title}}</a></h1>
        <div class="blog-article-meta">{{article.getDate}}</div>
        <div class="blog-article-contents">
            {% autoescape false %}
                {{article.html}}
            {% endautoescape %}
        </div>
        {% if article.tags | length > 0 %}
            <ul class="blog-article-tags">
                Tag:
                {% for tag in article.tags %}
                    <li><a href="/tag/{{tag}}/1">{{tag}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <ul class = "pager">
        {% if not article.newer_link is empty %}
            <li class = "newer_link"><a href = "{{article.newer_link}}">&larr; Newer</a></li>
        {% endif %}
        {% if not article.older_link is empty %}
            <li class = "older_link"><a href = "{{article.older_link}}">Older &rarr;</a></li>
        {% endif %}
    </ul>
{% endblock %}
