<div class="blog-article" style="background-color: {{maker.color('article')}};">
    <h1 class="blog-article-title"><a href="{{article.link}}">{{article.title}}</a></h1>
    <div class="blog-article-meta">{{article.getDate}}</div>
    <div class="blog-article-contents">
        {% autoescape false %}
            {{article.html}}
        {% endautoescape %}
    </div>
    {% if article.tags | length > 0 %}
        <ul class="blog-article-tags">
            Tag:
            {% for tag in article.tags %}
                <li><a href="/tag/{{tag}}/1">{{tag}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% set share_list = maker.config('share') %}
    {% if 'twitter' in share_list %}
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {% endif %}
</div>
